* {
    margin: 20px;
}

.newb:hover {
    transform: scale(10);
}

.serif {
    font-family: "Times New Roman", Times, serif;
}
  
.sans-serif {
    font-family: Impact, sans-serif;
}
  
.monospace {
    font-family: "Lucida Console", Courier, monospace;
}

.level2container {
    position: relative;
    text-align: center;
    color: white;
    background-color: lightgray;
}
.level2center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    border-style: dotted;
    border-width: 2px;
    border-color: coral;
}

.level3container {
    position: relative;
}

.level3img {
    border-radius: 50px;
}